/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #1A1A1A;
    color: #F3F3F3;
    line-height: 1.6;
}

::selection {
    background-color: #FF5722;
    color: white;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #ff562249;
}

body::-webkit-scrollbar-thumb {
    background-color: #FF5722;
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #1A1A1A;
    position: fixed;
    width: 100%;
}

header .logo h1 {
    font-size: 24px;
}

header nav {
    display: flex;
}

header nav a {
    color: #F3F3F3;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

header nav a:hover {
    color: #FF5722;
}

.about-me {
    display: flex; /* Usa flexbox para alinhar o conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    padding: 2rem; /* Espaçamento ao redor da seção */
}

.content {
    display: flex; /* Alinha o texto e a imagem lado a lado */
    max-width: 1200px; /* Limita a largura total da seção */
    width: 100%; /* Faz com que a seção ocupe a largura total */
}

.content-text {
    flex: 1; /* Permite que o texto ocupe o espaço disponível */
    padding-right: 2rem; /* Espaço à direita do texto */
}

.content-text h1 {
    font-size: 2.5rem; /* Tamanho da fonte do título */
    margin-bottom: 0.5rem; /* Margem abaixo do título */
    color: #ffffff; /* Cor do título */
}

.content-text h2 {
    font-size: 2rem; /* Tamanho da fonte do subtítulo */
    margin-bottom: 1rem; /* Margem abaixo do subtítulo */
    color: #fafafa; /* Cor do subtítulo */
}

.content-text p {
    font-size: 1rem; /* Tamanho da fonte do parágrafo */
    line-height: 1.5; /* Altura da linha para melhor legibilidade */
    margin-bottom: 1.5rem; /* Margem abaixo do parágrafo */
    color: #ffffff; /* Cor do texto */
}

.contact-button {
    display: inline-block; /* Faz o link se comportar como um botão */
    padding: 0.5rem 1rem; /* Espaço interno do botão */
    background: linear-gradient(to right, #FF5722, #FF9800); /* Gradiente de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    text-decoration: none; /* Remove o sublinhado */
    border-radius: 5px; /* Bordas arredondadas do botão */
    transition: background-color 0.3s; /* Efeito de transição */
}



.content-image {
    flex: 1; /* Permite que a imagem ocupe o espaço disponível */
}

.content-image img {
    max-width: 100%; /* A imagem se ajusta ao espaço disponível */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Bordas arredondadas da imagem */
}


.about {
    display: flex; /* Usa flexbox para organizar a seção */
    flex-direction: column; /* Organiza a seção verticalmente */
    align-items: center; /* Centraliza horizontalmente os itens */
    padding: 2rem; /* Adiciona espaçamento ao redor da seção */
}

.about-content {
    display: flex; /* Usa flexbox para alinhar imagem e texto */
    align-items: center; /* Centraliza verticalmente os itens */
    justify-content: center; /* Centraliza horizontalmente os itens */
    margin-top: 1rem; /* Espaço acima do conteúdo */
}

.about-image {
    margin-right: 2rem; /* Espaçamento à direita da imagem */
    border-radius: 50%; /* Para deixar a imagem circular */
    width: 150px; /* Ajuste o tamanho da imagem */
    height: 150px; /* Ajuste o tamanho da imagem */
}

.about-text {
    max-width: 600px; /* Limita a largura do texto */
    text-align: left; /* Alinha o texto à esquerda */
}

.about blockquote {
    border-left: 4px solid #007bff; /* Borda azul à esquerda */
    padding-left: 1rem; /* Espaço interno à esquerda */
    margin: 1.5rem 0; /* Margem em cima e embaixo */
    font-style: italic; /* Itálico para a citação */
    color: #555; /* Cor da fonte da citação */
}


.round-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}

/* Estilos para os projetos */
.projects {
    padding: 50px;
    background-color: #333;
}

.projects h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.project {
    background-color: #444;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.project img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

.project h3 {
    font-size: 24px;
    margin: 15px 0;
}

.project p {
    font-size: 16px;
}

.project a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #FF5722;
    color: #F3F3F3;
    text-decoration: none;
    border-radius: 5px;
}

.project a:hover {
    background-color: #E64A19;
}

/* Gradiente laranja */
.gradint-orange {
    height: 50px;
    background: linear-gradient(to right, #FF5722, #FF9800);
}

/* Estilos para os cards */
.cards {
    padding: 2rem;
    /* Espaçamento interno */
    text-align: center;
    /* Centraliza o texto */
}

.cards h2 {
    font-size: 2rem;
    /* Tamanho da fonte do título */
    margin-bottom: 1.5rem;
    /* Margem abaixo do título */
}

.card {
    border: 1px solid #ddd;
    /* Borda leve */
    border-radius: 8px;
    /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra leve */
    margin: 1rem;
    /* Margem entre os cards */
    padding: 1rem;
    /* Espaçamento interno do card */
    display: inline-block;
    /* Para que os cards fiquem lado a lado */
    width: calc(33% - 2rem);
    /* Largura dos cards em 3 colunas, considerando a margem */
    vertical-align: top;
    /* Alinha os cards ao topo */
}

.card img {
    max-width: 100%;
    /* Imagem responsiva */
    border-radius: 8px;
    /* Bordas arredondadas na imagem */
}

.card h3 {
    margin: 0.5rem 0;
    /* Margem em cima e embaixo do título do card */
}

.card p {
    color: #666;
    /* Cor do texto */
}

.card i {
    font-size: 40px;
    /* Tamanho do ícone */
    color: #5cacee;
    /* Cor do ícone */
    margin-bottom: 10px;
    /* Espaço entre ícone e texto */
}

/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
    .card {
        width: calc(50% - 2rem);
        /* 2 colunas em telas menores */
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
        /* 1 coluna em telas muito pequenas */
    }
}


/* Estilos para a seção de contato */
.contato {
    padding: 50px;
    text-align: center;
    background-color: #222;
}

.contato h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contato form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.contato input[type="text"],
.contato input[type="email"],
.contato textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: #F3F3F3;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #FF5722;
    color: #F3F3F3;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.contato input[type="submit"]:hover {
    background-color: #E64A19;
}

/* Estilos para a mídia social */
.social-media {
    margin: 20px 0;
}

.social-media a img {
    width: 40px;
    margin: 0 10px;
}

footer p {
    font-size: 14px;
    color: #888;
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header .logo {
        margin-bottom: 20px;
    }

    header nav {
        width: 100%;
        text-align: left;
    }

    header nav a {
        margin: 10px 10;

    }

    .content {
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }

    .content-text {
        max-width: 100%;
    }

    .content-image {
        display: none;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }

    .projects {
        text-align: center;
    }

    .project {
        width: 100%;
        margin-bottom: 20px;
    }

    .social-media {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .social-media i {
        color: #FF9800;
        justify-content: space-around;
        font-size: 30px;
        cursor: pointer;
    }

    .social-media i:hover {
        color: #d37f00;
    }
}